{% extends 'base.html' %}
{% block title %}Заказ {{ order.pk }}{% endblock %}
{% block content %}
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
                {% if perms.webapp.order_update %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'webapp:order_update' order.pk %}">Редактировать заказ</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">Заказ "{{ order.pk }}"</h5>
            <p class="card-text"><small>Заказчик: </small>{{ order.name }}</p>
            <p class="card-text"><small>Контактные данные: </small>{{ order.phone }}</p>
            <p class="card-text"><small>Дата создания заказа: </small>{{ order.created_at|date:'d.m.Y' }}</p>

            <table class="table col-6">
                <thead>
                <tr>
                    <th scope="col">Товар</th>
                    <th scope="col">Количество</th>
                    {% if perms.webapp.can_update_product_in_order or perms.webapp.can_delete_product_from_order %}
                        <th scope="col" colspan="2">Действия</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        {% for product in order.products.all %}
                            <p>{{ product }}</p>
                        {% empty %}
                            <small>Пока нет товаров</small>
                        {% endfor %}
                    </td>
                    <td>
                        {% for product_in_order in order.order_products.all %}
                            <p>{{ product_in_order.amount }}</p>
                        {% endfor %}
                    </td>
                    <td>
                        {% for product in order.order_products.all %}
                            {% if perms.webapp.can_update_product_in_order %}
                                <a class="nav-link" href="{% url 'webapp:order_update' product.pk %}">Редактировать</a>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for product in order.order_products.all %}
                            {% if perms.webapp.order_delete %}
                                <a class="nav-link"
                                   href="{% url 'webapp:order_delete' product.pk %}">Удалить</a>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}